body {
    margin: 0;
    padding: 24px;
    background-color: rgb(137, 137, 235);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 8px;
}

body p {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.contact-form {
    display: flex;
    max-width: 600px;
    min-width: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(184, 226, 240);
    padding: 15px;
    border-radius: 20px;
    border: 5px solid black
}