body {
    margin: 0;
    padding: 24px;
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 8px;
}

body p {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}