body {
    margin: 0;
    padding: 24px;
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 24px;
}

.product-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product-card {
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5)
}

.product-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
}

#price-text {
    font-weight: bold;
    color: red;
}