body {
    margin: 0;
    padding: 20px;
    background-color: lightgray;
    color: black;
    font-family: sans-serif;
}

h1 {
    font-size: large;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#about h2 {
    font-size: medium;
    margin-top: 5px;
    text-align: center;
}

#hobbies h2 {
    font-size: medium;
    margin-top: 5px;
    text-align: center;
}

#home h2 {
    font-size: medium;
    margin-top: 5px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 1.5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

nav ul li a:hover {
    color: red;
    background-color: yellow;
    border-radius: 5px;
}