body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}