body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    padding: 20px;
    background: #fcf94e;
    border: #333 solid 1px;
    box-shadow: #444 0px 4px 8px;
    border-radius: 10px;
}

.card img {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.card h1 {
    margin: 0;
    font-size: 25px;
    color: black;
}

.card h2 {
    margin: 0px;
    font-size: 20px;
    color: black;
}

.card p {
    margin: 0px;
    font-size: 16px;
    color: black;
}

.social-links a {
    text-decoration: none;
    color: #0073b1;
    font-size: 16px;
}

.social-links {
    display: flex;
    gap: 15px;
    margin: 10px 0 0 0;
}

.social-links a:hover {
    text-decoration: underline;
    color: red;
}